.nav-link {
  font-size: 22px;
  font-weight: bold;
}

#pills-tab {
  width: fit-content;
}

@media screen and (max-width: 800px) {
  .nav-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 530px) {
  .nav-link {
    font-size: 15px;
  }
}

@media screen and (max-width: 370px) {
  .nav-link {
    font-size: 13px;
  }
}
