#hr-hourly {
  margin: 5px 0;
  padding: 0;
  height: 3px;
  border: none;
  background: linear-gradient(90deg, rgb(0, 0, 0), #ddd);
}

.hourly-weather {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__item {
    text-align: center;
    min-width: 80px;
    &_column {
      text-align: center;
      min-width: 80px;
      margin-left: 0;
    }
  }
}
