.repo-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &_text {
    margin-bottom: 10px;
  }
  &__item {
    align-items: center;
  }
}

.link {
  text-decoration: none;
}
