.repo-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 250px;
  &__item {
    align-items: center;
    &_icon {
      margin-top: 10px;
    }
  }
}

a {
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s;
}
