.nav-bar {
  width: fit-content;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: white;
}

.nav-link {
  font-size: 22px;
  font-weight: bold;

  @media screen and (max-width: 800px) {
    font-size: 20px;
  }

  @media screen and (max-width: 530px) {
    font-size: 15px;
  }

  @media screen and (max-width: 370px) {
    font-size: 13px;
  }
}

#pills-tab {
  width: fit-content;
}
